<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link href="css.css" rel="stylesheet">
<nav>
  <div class="nav-search-container">
    <input type="search" name="q" class="search-input ui-autocomplete-input" value="" accesskey="4" autocomplete="off" placeholder="Search Site...">
    <div class="search-select">
          <select id="type">
            <option value="">All Types</option>
            <option value="Films">Cars</option>
            <option value="Motions">Trucks</option>
            <option value="Stills">Hatchbacks</option>
            <option value="Coutndowns">Vans</option>
        </select>
     </div>
    <div class="submit-container"><input class="submit" type="submit" value="Submit"></div>
    <script type="text/javascript" src="js.js"> </script>
  </div>
</nav>
