/* Typography */
@import url(http://fonts.googleapis.com/css?family=Lato:300,700);

@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?1ugeyp');
	src:url('fonts/icomoon.eot?#iefix1ugeyp') format('embedded-opentype'),
		url('fonts/icomoon.woff?1ugeyp') format('woff'),
		url('fonts/icomoon.ttf?1ugeyp') format('truetype'),
		url('fonts/icomoon.svg?1ugeyp#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

*{	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-search:after {
	content: "\e605";
	position: absolute;
	font-family: 'icomoon';
}

.icon-cart:before{
	content: "\e606";
	color: #fff;
	height:0px;
	position: relative;
	top:-.1em;
	font-size: 1.5em;
	float:right;
	padding-right: .5em;
	font-family: 'icomoon';
}

.icon-arrow-down:before {
	content: "\e607";
	font-family: 'icomoon';
}


body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-weight: 300;
    overflow-x: hidden;
}

.container{
	max-width: 960px;
	margin: 5em auto;
	width: 80%;
}

a {
    //color: #888;
	text-decoration: none;
}

a:hover,
a:active {
    color: #333;
}

strong{
	font-weight: 700;
}

hr{
    clear:both;
    margin-top: 5em;
    border: 0;
    height: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    margin: 1em 0;
}

button{
	cursor: pointer;
}

label{
	font-size: .6em;
	padding: 20px;
	border-radius: 5px;	
	border: 3px solid;
	margin-bottom: .5em;
	}


.yes{
	cursor: pointer;
	opacity: .1;
	}

.no{
	border-color: #ff6f64;	
	background-color: #ffe7e5;
	color: #ff6f64;
	}

label{
	display: block;
}

input[type=checkbox]{ 
    display: block;
    position: absolute;
    width: 0px;
    height:0px;
    opacity: 0;
    overflow: hidden;
}

*{
-webkit-transition: all 0.5s ease-in-out, width 0, height 0, top 0, left 0;
-moz-transition: all 0.5s ease-in-out, width 0, height 0, top 0, left 0;
-o-transition: all 0.5s ease-in-out, width 0, height 0, top 0, left 0;
transition: all 0.5s ease-in-out, width 0, height 0, top 0, left 0; 
}

input[type=checkbox] + label:after{
	font-family: "Lato";
	transform:rotate(45deg);
	transition: transform 0.5s ease;
	-ms-transform:rotate(45deg); /* IE 9 */
	-webkit-transform:rotate(45deg); /* Opera, Chrome, and Safari */
	font-weight: bold;
	content: "\00d7";
	float:right;
}

input[type=checkbox]:checked + label {
	background-color: #d2f6dc;
	border-color: #55aa4f;
	//color: #55aa4f;
	opacity: 1;
}

input[type=checkbox]:checked + label:after{
	transform:rotate(0deg);
	-ms-transform:rotate(0deg); /* IE 9 */
	-webkit-transform:rotate(0deg); /* Opera, Chrome, and Safari */
	font-family: "Lato";
	font-weight: bold;
	content: "\00d7";
	float:right;
}


form{
	font-size: 4em;
	margin: 0em;
}

form input[type="text"] {
	color: #000;
	cursor:pointer;
	outline: none;
	width: 60%;
	height: 1.3em;
	/*padding: .5em 0em;*/
	font-size: inherit;
	font-family: inherit;
	background-color:transparent;
	border: 0px solid;
	border-bottom: 1px dashed #9FC8CE;
	}
form input[type="text"]:hover{
	color: #000;
}

form input[type="text"]:focus{
	color: #000;
}

form select {
	height: 1.35em;
	cursor: pointer;
	width: 35%;
	outline: none;
	border: none;
	background: transparent;
	font-family: inherit;
	//font-size: inherit;
	//color: inherit;
	font-weight: inherit;
	/*line-height: inherit;*/
	display: inline-block;
	padding: 0;
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: rgba(225,225,225, .1);
}

form select:hover{
	color: #fff;
}

.saved button {
	width: 100%;
	text-align: left;
	padding: 1em 1em;
	font-size: .3em;
	color: #fff;
	border: none;
	background: #6a90c9;
	border-radius: 4px;
	margin-bottom: .5em;
	}

.saved button:hover,
.saved button:focus {
	background: #326fc9;
	}
.saved button:active {
	background: #2869c9;
	}		

form input[type="checkbox"]{
	display: inline;
}	

.btn{
	float: right;
	display: block;
	padding: .4em 2em;
	font-size: .4em;
	border: none;
	border-radius: .3em;
	color: #fff;
	margin-bottom: 2em;
}

.save{
	background-color: #8db38a;
}

.save:hover{
	background-color: #51b34a;
	cursor: pointer;
}

	input::-webkit-input-placeholder {
	color: rgba(255,255,255,0.8);
}

input:active::-webkit-input-placeholder ,
input:focus::-webkit-input-placeholder {
	color: rgba(255,255,255,0.2);
}

input::-moz-placeholder {
	color: rgba(255,255,255,0.8);
}

input:active::-moz-placeholder,
input:focus::-moz-placeholder {
	color: rgba(255,255,255,0.2);
}

input:-ms-input-placeholder {  
	color: rgba(255,255,255,0.8);
}

input:active::-ms-input-placeholder ,
input:focus::-ms-input-placeholder {
	color: rgba(255,255,255,0.2);
}

.saved_searches{
	/*margin-top: 10em;*/
}

.saved_searches input{
	cursor: pointer;
}

.search_submit{
    position: absolute;
    top: -1000px
}

.search_form{
    margin-bottom: .5em;
}

.box{
	width:50px;
	height:50px;
	background-color: red;
	opacity: 0;
}

.saved_searches h2{
	clear: both;
	border-top: 2px solid rgba(0, 0, 0, 0.1);
	color: rgba(255, 255, 255, .3);
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1.1em;
	letter-spacing: .1em;
	margin-bottom: 1em;
	padding-left: 1.1em;
	padding-top:1em;
}

.results{
	min-height: 12em;
	display: block;
}

.reset{
	margin-top:.5em;
	float:right;
	background-color: #F48D8A;
}


.reset:hover{
	background-color:#F46569;
}


@media screen and (max-width: 960px) {
	.container {
		font-size: .7em;
		margin-top: 10em;
	}
	.btn{
		font-size: .4em;
	}
}

@media screen and (max-width: 700px) {
	.results{
	min-height: 6em;
	}
	.container{
		font-size: .65em;
		margin-top: 5em;
	}

	label{
		font-size: .4em;
	}

	form input[type="text"] {
		width: 100%;
		margin-bottom: .5em;
	}
	form select {
	width: 90%;
	float: right;
	}
}